#Discord Bot Setup
bot_id = #Additional routing to get to the mod url route # The bot ID to run the bot
registation_channel = 0 # Registration channel ID
mod_channel = 0 # Mod bot channel ID
tagging_channel = 0 # Tagging channel ID
tags_channel = 0 # Tags channel ID
human_role_id = 0 # Human role ID
zombie_role_id = 0 # Zombie role ID
player_role_id = 0 # Player role ID
oz_role_id = 0 # OZ role ID
cured_role_id = 0 # Cured role ID
hvz_guild_id = 0 # Guild ID
mod_role_id = 0 # Mod role ID


#Website Settings
use_website = #True/False
backend_path = #Base URL for the Backend API
mod_path = #Additional routing to get to the mod url route (base_url/mod/)
infection_path = #Additional routing to get to the infection url route (base_url/infection/)
oz_path = #Additional routing to get to the mod url route (base_url/oz/)
cure_path = #Additional routing to get to the mod url route (base_url/cure/)
player_creation_path = #Additional routing to get to the mod url route (base_url/creation/)
player_removal_path = #Additional routing to get to the mod url route (base_url/removal)
wipe_path = #Additional routing to get to the mod url route (base_url/wipe)
give_badge_path = #Additional routing to get to the mod url route (base_url/give_badge)
create_badge_path = #Additional routing to get to the mod url route (base_url/create_badge)
remove_badge_path = #Additional routing to get to the mod url route (base_url/remove_badge)
list_badge_path = #Additional routing to get to the mod url route (base_url/list_badges)
